.form-page {
  grid-column: 1/3;

  h5 {
    margin-bottom: 7px;
  }
  
  .questContainer {
    display: inline-block;
    width: 600px;
  }

  .ansContainer {
    display: inline-block;
  }

  button {
    display: block;
  }

  input, textarea {
    display: block;

    &:focus {
      outline: none;
    }

    &.cInput {
      width: 200px;
    }

    &.qInput {
      width: 500px;
      max-width: 90%;
      border: 3px solid black;
    }
  }

  button {
    margin-top: 20px;
  }
}
