.form-page {
  grid-column: 1/3;
  margin: 0px calc(20px + 2%);

&.cat-form {
  grid-column: 1/3;
  
  h1 {
    text-align: center;
  }
}

  h5 {
    margin-bottom: 7px;
  }
  
  .questContainer {
    display: inline-block;
    width: 300px;
    min-width: 40%;
  }

  .ansContainer {
    display: inline-block;
  }

  button {
    display: block;
  }

  input, textarea {
    display: block;

    &.cInput {
      width: 200px;
    }

    &.descriptionInput {
      width: 200px;
    }

    &.qInput {
      width: 300px;
      max-width: 90%;
      border: 3px solid black;
    }
  }

  button {
    margin-top: 20px;
  }
}
