#home {
  grid-column: 1/3;
  font-family: chalkboard;
  
  #main {
    width: 80%;
    background: #005500 url("./images/chalkboard.jpg") no-repeat;
    background-size: cover;
    margin: 30px auto;
    padding: 10px;
    padding-left: calc(20px + 2vw);
    border: 1vw solid #775557;

    h1 {
      font-family: chalkboard;
      font-size: 12vw;
      color: $chalk;
    }
    ul {
      list-style: none;

      li {
        font-size: 6vw;
        margin-bottom: 2vw;
        a {
          color: $chalk;
        }
        &:hover {
          position: relative;
          bottom: 1vw;
          font-size: 7.5vw;
        }
      }
    }
    
  }
}