#home {
  grid-column: 1/3;
  font-family: chalkboard;
  color: $chalk;
  
  #main {
    width: 70%;
    height: 44vw;
    background: #005500 url("./images/chalkboard.jpg") no-repeat;
    background-size: cover;
    margin: 30px auto;
    padding: 10px 0px 10px 0px;
    border: 1vw solid #775557;
    @media screen and (min-width: 1200px) {
      height: 40vw;
    }
    @media screen and (min-width: 1450px) {
      height: 36vw;
    }

    h2 {
      font-family: chalkboard;
      font-size: 6.5vw;
      color: $chalk;
      margin: 5vw auto 1vw auto;
      @media screen and (min-width: 1200px) {
        margin-top: 4vw;
        font-size: 6vw;
      }
      @media screen and (min-width: 1450px) {
        margin-top: 2vw;
        margin-bottom: 0;
        padding: 0px;
        font-size: 5.5vw;
      }
    }

    h1 {
      font-family: chalkboard;
      font-size: 15vw;
      color: $chalk;
      margin: 1vw;
      @media screen and (min-width: 1200px) {
        margin-top: 0.6vw;
        font-size: 13.5vw;
      }
      @media screen and (min-width: 1450px) {
        margin-top: 0;
        font-size: 12vw;
        padding: 0px;
      }
    }

    ul {
      list-style: none;
      text-align: center;
      padding: 0px;

      li {
        font-size: 3vw;
        margin-bottom: 2vw;
        a {
          color: $chalk;
        }
        &:hover {
          position: relative;
          bottom: 1vw;
          font-size: 4.5vw;
          margin-bottom: 0.5vw;
        }
      }
    }
    
  }
}