#main-nav {
    grid-column: 1/3;
    margin-left: -10px;
    padding: 10px 10px 5px 15px;
    margin-top: 0px;
    font-size: calc(12px + 1vw);
    background-color: #48006A;
    border-bottom: 5px outset black;
    color: white;
    #right-links {
        color: white;
        float: right;
        margin-right: 10px;
        font-size: 16px;
        .right-link {
            margin-left: 10px;
        }
    }
    a {
        color: white;
    }
}