#quiz-viewer {
    grid-column: 1/3;
    margin: 20px 10px;

    h1 {
        text-align: left;
        margin: 0px 15px 10px 15px;
        @media screen and (max-width: 650px) {
            text-align: center;
            margin-left: 0px;
          }
    }

    .error-message {
        width: 500px;
        max-width: 80%;
        margin-bottom: 20px;
        margin-left: 15px;
        @media screen and (max-width: 650px) {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
    }

    .play-save-btn {
        position: absolute;
        top: 70px;
        right: 30px;
        
        @media screen and (max-width: 650px) {
            position: static;
            display: block;
            float: none;
            margin: 0px auto 20px auto;
          }
    }

    h3 {
        margin: 20px 15px;
        text-align: left;
        font-weight: normal;
        @media screen and (max-width: 650px) {
            text-align: center;
            margin-left: 0px;
          }
    }
    
    #quiz-info {
        display: block;
        text-align: left;
        margin-left: 15px;
        @media screen and (max-width: 650px) {
            text-align: center;
            margin-left: 0px;
          }

        h6 {
            margin: 0px;
            margin-bottom: 20px;
            display: block;
            font-weight: normal;
            font-size: 14px;
            @media screen and (max-width: 650px) {
                display: block;
                margin-right: 20px;
              }
        }
    }

    #quiz-info-selectors {
        display: block;

        .info-selector {
            display: block;
            width: 210px;
        }
        
        h6 {
            display: inline;
            margin: 15px 20px;
        }
    }

    .edit-button {
        color: #009900;
        margin-top: -10px;
        margin-bottom: 10px;

        &.cat {
            text-align: center;
        }

        &.title {
            margin-left: 15px;
            @media screen and (max-width: 650px) {
                text-align: center;
                margin-left: 0px;
              }
        }

        i {
            font-size: 12px;
            position: relative;
            bottom: 2px;
            left: 2px;
        }
        
        &:hover {
            cursor: pointer;
        }
    }

    .category-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: darken($board-boxes,20%);

        .category-box {
            width: 210px;
            margin: 10px;
            border: 2px solid black;
            padding: 10px;
            background-color: lighten($board-background, 17%);

            .q-and-a {
                margin-bottom: 12px;
            }


            h4 {
                text-align: center;
            }

            h6 {
                color: black;
                margin: 5px;

                .qa-letter {
                    font-size: 1.2em;
                    color: darken($board-boxes, 10%);
                    font-weight: bold;
                }
            }

            button {
                background-color: $board-boxes;
                color: white;
                margin: 5px;
            }
        }
    }
}