.quiz-card {
    background-color: lighten($board-background, 15%);
    width: 320px;
    border: 2px solid #000000;
    margin: 20px 20px;
    height: auto;
    box-shadow: 3px 6px #888888;
    text-align: center;
    padding: 12px;
    padding-bottom: 30px;
  
    
    &:hover {
      cursor: pointer;
    }

    .delete {
      float: right;
      position: relative;
      bottom: 2px;
      right: 5px;
      color: red;
      padding: 0px;
      border: none;
      background: none;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        font-weight:bold;
      }
    }

    h3 {
      text-align: center;
      color: black;
    }

    h4 {
      border-bottom: 2px solid #444;
      padding-bottom: 6px;
      margin: 10px auto 10px auto;
      width: 90%;
    }

    p {
      text-align: center;
      padding-bottom: 10px;

      a {
        &:hover {
          font-weight: bold;
        }
      }
    }

    h5 {
      background-color: $board-boxes;
      width: 80%;
      color: white;
      text-align: center;
      padding: 8px;
      margin: 10px auto;
      border: 3px solid darken($board-boxes, 22%);
    }
  }