#teams {
  grid-column: 1/2;
  margin-top: calc(2vw + 32px);

  .team {
    background-color: black;
    color: white;
    overflow: hidden;
    text-overflow: ellipse;
    overflow-wrap: break-word;
    width: 75%;
    padding: 3px 0px;
    border: solid 3px #AAA;
    outline: 1px solid black;
    text-align: center;
    margin: 1vw auto;

    .team-name {
      font-size: 2vw;
      margin: 1vw auto;
    }
    .team-points {
      font-size: 2vw;
      margin: 0px auto;
    }
  }
}
