$primary-color: #474787;
$secondary-color: #ecf0f1;
$board-background: rgb(162, 221, 198);
$chalk: #f0e371;
$board-boxes: #218c74;
$palm-springs: #218c74;
$heading:'Archivo', sans-serif;
$body: 'Open Sans', sans-serif;
$all-caps: 'Alegreya Sans SC', sans-serif;
