@import "./variables";
@import "./Board";
@import "./QuestionDisplay";
@import "./TeamDisplay";
@import "./Form";
@import "./Home";
@import "./LoadQuizzes";
@import "./Navbar";
@import "./LoginPage";
@import "./QuizViewer";


@font-face {
  font-family: chalkboard;
  src: url(./fonts/chalk.ttf);
}

@font-face {
  font-family: chalkboard;
  src: url(./fonts/chalkbold.ttf);
  font-weight: bold;
}

.game {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 20% 80%;
  @media screen and (min-width: 960px) {
    grid-template-columns: 30% 70%;
  }

  h1, h2 {
    text-align: center;
    font-family: $heading;
    color: black; 
  }

  p, h5 {
    font-family: $body;
  }

  a {
    color: $primary-color;
    text-decoration: none;

    a:visited {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

input {
  padding: 5px;
  font-size: 14px;
}
