.game {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 20% 80%; }
  .game h1 {
    text-align: center; }
  .game input, .game textarea {
    display: block; }
    .game input:focus, .game textarea:focus {
      outline: none; }
    .game input.cInput, .game textarea.cInput {
      width: 200px; }
    .game input.qInput, .game textarea.qInput {
      width: 500px;
      height: 5rem;
      max-width: 90%;
      border: 3px solid black; }
  .game .form-page {
    grid-column: 1/3; }
  .game #board {
    margin-right: 20px;
    grid-column: 2/3; }
    .game #board h1 {
      font-size: calc(16px + 2vw);
      margin: 0px auto;
      padding: 5px;
      width: 50%;
      background-color: #005;
      border: 3px solid black;
      color: white; }
    .game #board #boxes {
      background-color: #006;
      justify-content: center;
      border: 6px solid black;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .game #board #boxes p {
        background-color: blue;
        color: white;
        text-align: center;
        width: 10%;
        padding: 3%;
        font-weight: bold;
        border-radius: 5%;
        margin: 5px 1%; }
        .game #board #boxes p.category {
          border: 4px solid black;
          font-size: 2vw; }
        .game #board #boxes p.points {
          border: 4px solid black;
          font-size: 3vw;
          padding: 2% 3%; }
          .game #board #boxes p.points:hover {
            cursor: pointer; }
          .game #board #boxes p.points.answered {
            background-color: grey; }
            .game #board #boxes p.points.answered:hover {
              cursor: not-allowed; }
