h1 {
  text-align: center; }

input {
  display: block; }

#board #boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #board #boxes p {
    text-align: center;
    width: 10%;
    padding: 3%;
    font-weight: bold;
    border-radius: 5%;
    margin: 5px 1%; }
    #board #boxes p.category {
      border: 4px solid black;
      font-size: 2vw; }
    #board #boxes p.points {
      border: 4px solid black;
      font-size: 3vw;
      padding: 2% 3%; }
