@import "./Board";
@import "./QuestionDisplay";
@import "./TeamDisplay";
@import "./Form";
@import "./Home";
@import "./LoadQuizzes";

.game {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 20% 80%;

  h1 {
    text-align: center;
  }
}
